// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
   // text-align: center;
    width: 100%;
}

.centered-box {
    text-align: center;
}


.landing-heading {
    color: rgb(71, 71, 71);
    text-align: center; 
    font-size: 40px; 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.landing-text {
    color: rgb(71, 71, 71);
    text-align: center; 
    font-size: 22px; 
    font-family: Arial, Helvetica, sans-serif; 
    width: 80%;
    margin-left: 10%;
    
}


.landing-btn {
    text-align: center; 
    color: rgb(71, 71, 71);
    text-decoration: none; 
    border-radius: 50px; 
    border: 1px solid rgb(71, 71, 71);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px;
    position: relative;
    
    transition: all .4s ease-in-out;
    
    
}

.landing-btn a {
    text-align: center;
}



.landing-btn:hover {
    color: #fff;
    background-color: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
}

.wood {
    max-width: 100%;
    height: 350px;
}


header {
    background-color: rgb(71, 71, 71);
    height: 100px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    text-transform: uppercase;
}

.main-menu li {
    display: inline-block;
}

.logo {
    height: 100px;
}

.register {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color .3s ease-in-out;
}

.login {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color .3s ease-in-out;
}

.register:hover {
    color: rgb(221, 221, 221);
}

.login:hover {
    color: rgb(221, 221, 221);
}

footer {
    background-color: rgb(71, 71, 71);
    height: 100px;
    width: 100%;
    padding: 33px;
}

footer p {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
}

.error-msg {
    font-size: 14px;
    color: tomato;
    transition: all .5s;
}

.hide {
    opacity: 0;
}

.hide-pw {
    display: none;
}

.pw-text {
    color: tomato;
    transition: all .5s;
}

.btn-form {
    color: #fff;
}

.btn-form:hover {
    color: #fff;
}

#toggle-bar {
    color: #fff;
    cursor: pointer;
}



@media (max-width: 768px){
	.main-menu{
		display: none;
	}
	.main-menu.hamburger{
		display: block;
	}
}

@media (min-width: 769px){
	.main-menu{
		display: initial;
	}

	#toggle-bar{
		display: none;
	}

}